#navbar{
    background-color: blueviolet;
    
    display: flex;
    justify-content: flex-end;
    
    gap: 60px;


}
a{
    color: aliceblue;
    text-decoration: none;
}
#container-1{display: grid;
   
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:20px;
}